html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  &:after {
    content: '';
    display: block;
    height: $footerHeight;
  }
}

footer {
  height: $footerHeight;
  margin-top: $footerHeight;
}